@import "tailwindcss";
@import "@fontsource/poppins"; 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  /* --background-image-banner: url("src/img/home-bg.png");
  --background-image-banner3: url("src/img/MobileHP.png");
  --background-image-banner2: url("src/img/background.png"); */
}


.no-spinner .ant-input-number-handler-wrap {
  display: none !important;
}

.no-spinner input {
  color: #2956A6 !important;
  font-weight: bold !important;
  background-color:  #F0F0F2 !important;
 
}

.clip-diagonal {
  clip-path: polygon(100% 0%, 0% 40%, 0% 100%, 100% 100%);
}
