@import "tailwindcss";
@import "@fontsource/poppins"; 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --background-image-banner: url("src/img/home-bg.png");
  --background-image-banner2: url("src/img/background.png");
}

.no-spinner .ant-input-number-handler-wrap {
  display: none !important;
}

